@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root {
    --fundo-principal: #f5f5f5;
    --texto: #222222;
    --texto-inverso: #ffffff;
    --destaque: #b16c55;
    --destaque-inverso: #ff9d64;
    --fundo-card: #ffffff;
}
/* :root {
    --fundo-principal: #f5f5f5;
    --texto: #222222;
    --texto-inverso: #ffffff;
    --destaque: #0077ff;
    --destaque-inverso: #66bbff;
    --fundo-card: #ffffff;
} */
#css{
    color: #2364F0;
}
#html{
    color: #F06428;
}
#js{
    color: #ffbb00;
}
#python {
    color: rgb(140, 140, 202);
}
#bootstrap {
    color: rgb(122, 39, 190);
}
/* ---------------------------- */
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5em;
    background-color: var(--fundo-principal);
    color: var(--texto);

    transition: 0.3s;
}
body.escuro{
    --fundo-principal: #222222;
    --texto: #e0e0e0;
    --texto-inverso: #333333;
    --destaque: #31bebc;
    --destaque-inverso: #0e6662;
    --fundo-card: #444444;
}
header{
    display: flex;
    justify-content: center;
    align-content: center;

    position: sticky;
    top: 0;
    z-index: 1;

    background-color: var(--destaque);
    color: var(--texto);
    padding: 10px;
}
/* ---------------------------- */
/* ---------------------------- */
nav#menu ul{
    display: flex;

    list-style-type: none;
    gap: 10px;
}
nav#menu a{
    text-decoration: none;
    color: var(--texto-inverso);
    font-weight: bold;
    padding: 12px 15px;
    border-radius: 5px;

    transition: background-color 0.5s, color 0.5s;
}
nav#menu a:hover{
    background-color: var(--destaque-inverso);
    
}
/* ---------------------------- */
/* ---------------------------- */
main{
    display: grid;
    grid-template-columns: 1fr 90vw 1fr;
    gap: 20px;
    margin-top: 20px;
}
section#ficha{
    grid-column: 2 / 3;
    
    background-color: var(--fundo-card);
    padding: 20px;
    border-radius: 8px;
}
section#ficha img{
    width: 200px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid var(--fundo-card);
    outline: 5px solid var(--destaque);
    display: block;
    margin: auto;
    margin-bottom: 15px;
}
section#ficha h1{
    color: var(--destaque);
    margin: 15px 0px;
    font-size: 1.5em;
    text-align: left;
}
div#social {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    gap: 1.5em;
    margin-top: 15px;
}
div#social a{
    color: var(--destaque);
    
    font-size: 1.6em;
    transition: 0.3s;
}
div#social a:visited{
    color: var(--destaque);
}
div#social a:hover{
    color: var(--destaque-inverso);
}
/* ---------------------------- */
/* ---------------------------- */
section#detalhes{
    grid-column: 2;
}
article{
    background-color: var(--fundo-card);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}
article h2{
    color: var(--destaque);
    margin-bottom: 10px;
}

#skill-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
}
#skill-container .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}
#skill-container .nome{
    font-weight: bolder;
    color: var(--texto);
}
#skill-container .porcent{
    font-weight: bolder;
    color: var(--destaque);
}
#skill-container .barra{
    width: 100%;
    height: 10px;
    background-color: var(--fundo-principal);
    border-radius: 4px;
}
#skill-container .progresso{
    background-color: var(--destaque-inverso);
    height: 10px;
    border-radius:4px ;
}
/* ---------------------------- */
/* ---------------------------- */
#formacao-container{
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
}
#formacao-container .curso{
    background-color: var(--fundo-principal);
    border-radius: 8px;
    border-left: 5px solid var(--destaque-inverso);
    padding-left: 15px;

    transition: 0.3s;
}
#formacao-container .curso:hover{
    border-left-width: 15px;
    border-color: var(--destaque);
}
#formacao-container .curso:hover .instituicao{
    color: var(--destaque);
}
#formacao-container .periodo{
    font-size: 0.8em;
    font-weight: bolder;
    color: var(--texto);
}
#formacao-container .instituicao{
    color: var(--destaque-inverso);
    font-size: 1.1em;

    transition: 0.;
}
#formacao-container .titulacao{
    font-size: 0.8em;
}
/* ---------------------------- */
/* ---------------------------- */
#projeto-container{
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
}
#projeto-container .projeto{
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: var(--fundo-principal);
    padding: 10px;
    border-radius: 8px;
    border-left: 5px solid var(--destaque-inverso);

    transition: 0.3s;
}
#projeto-container .projeto .projeto-info{
    display: grid;
    grid-template-columns: 90% 1fr;
    width: 100%;
}
#projeto-container .projeto .projeto-info .descricao-projeto{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#projeto-container .projeto .projeto-info .descricao-projeto .acesso{
    margin-top: 25px;
    font-size: 1.5em;
}
#projeto-container .projeto .projeto-info .descricao-projeto .acesso :hover{
    color: var(--destaque-inverso);
}
#projeto-container .projeto .projeto-info .descricao-projeto a{
    color: var(--destaque);
}
#projeto-container .projeto .tecnologias{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    font-size: 1.2em;
    gap: 10px;
}
#projeto-container .projeto:hover{
    border-left-color: var(--destaque);
    border-left-width: 15px;
    cursor: pointer;
}
#projeto-container .periodo, .titulo{
    margin-bottom: 10px;
}
.projeto details{
    font-size: 0.8em;
}
.projeto p.descricao{
    display: none;
}
footer{
    background-color: var(--destaque);
    color: var(--texto-inverso);
    text-align: center;
    padding: 5px;
    font-weight: bold;
    font-size: 0.8em;
}
@media screen and (min-width: 1024px) {
    main{
        grid-template-columns: auto 300px 1fr auto;
    }
    section#ficha{
        grid-column: 2/3;
        height: fit-content;
        position: sticky;
        top: 65px;
    }
    section#detalhes{
        grid-column: 3/4;
    }
    #skill-container {
        grid-template-columns: 1fr 1fr;
    }
    #projeto-container .projeto{
        flex-direction: row;
        justify-content: flex-start;
    }
    #projeto-container .foto{
        max-width: 30%;
        max-height: 250px;
    }
    #projeto-container .projeto .tecnologias{
        font-size: 1.5em;
    }
    #projeto-container .projeto .projeto-info .descricao-projeto .acesso{
        font-size: 1.5em;
    }
    #menu li.close{
        display: none;
    }
    header{
        justify-content: flex-start;
    }
    .projeto p.descricao{
        display: inline-block;
        font-size: 1em;
    }
    .projeto details.descricao{
        display: none;
    }
}